
  <div class="col-lg-12 title">
    THE MAZE
    <br>
    <button mat-button class="regular-button" (click)="startGame()">START</button>
    <button mat-button class="regular-button" (click)="resetGrid()">RESET</button>
  </div>
  <div class="col-lg-12">
    <div class="grid-container">
      <mat-grid-list class="grid-list" *ngFor="let list of tiles" gutterSize="0px" [cols]="rows" rowHeight="17px">
          <mat-grid-tile
              *ngFor="let tile of list"
              [colspan]="tile.cols"
              [rowspan]="tile.rows"
              class="tile-border"
              [class.top-border]="tile.top"
              [class.btm-border]="tile.btm"
              [class.rgt-border]="tile.rgt"
              [class.lft-border]="tile.lft"
              (click)="seTtartTile(tile)"
              (contextmenu)="setEndTile(tile, $event)"
              [style.background]="tile.color">
          </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>

