.grid-container {
  background-color: black;
}

.grid-list {
  margin-bottom: 0px;
}

.speed-container {
  font-size: 19px;
  color: var(--black);
  font-weight: normal !important;
}

.speed-slider {
  width: 11vw;
}

.top-border {
  border-top: 0px !important;
}
.btm-border {
  border-bottom: 0px !important;
}
.lft-border {
  border-left: 0px !important;
}
.rgt-border {
  border-right: 0px !important;
}
