.title {
  background-color: white;
  color: black;
  font-size: 32px;
  font-weight: 700;
}

.grid-container {
  background-color: black;
}

.grid-list {
  margin-bottom: 0px;
}

.tile-border {
  border: 2px solid;
}

.top-border {
  border-top: 0px !important;
}
.btm-border {
  border-bottom: 0px !important;
}
.lft-border {
  border-left: 0px !important;
}
.rgt-border {
  border-right: 0px !important;
}
