<div class="col-lg-12 title">
  THE MAZE
  <br /><br />
  <div class="row">
    <div class="col-lg-6">
      <button
        mat-button
        class="regular-button"
        [disabled]="inProcess"
        (click)="startGame()"
      >
        START</button
      >&nbsp;
      <button
        mat-button
        class="regular-button"
        [disabled]="inProcess"
        (click)="resetGrid()"
      >
        RESET</button
      >&nbsp; ({{ startTile.y }}, {{ startTile.x }}) - ({{ endTile.y }},
      {{ endTile.x }})
    </div>
    <div class="col-lg-6">
      <div class="speed-container">
        <mat-slider
          class="speed-slider"
          max="40"
          min="1"
          [(ngModel)]="speed"
        ></mat-slider>
        Speed: {{ speed }}
      </div>
    </div>
  </div>
</div>

<div class="col-lg-12">
  <div class="grid-container">
    <mat-grid-list
      class="grid-list"
      *ngFor="let list of tiles"
      gutterSize="0px"
      [cols]="rows"
      rowHeight="17px"
    >
      <mat-grid-tile
        *ngFor="let tile of list"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        class="tile-border"
        [class.top-border]="tile.top"
        [class.btm-border]="tile.btm"
        [class.rgt-border]="tile.rgt"
        [class.lft-border]="tile.lft"
        (click)="seTtartTile(tile)"
        (contextmenu)="setEndTile(tile, $event)"
        [style.background]="setColor(tile)"
      >
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
