<div *ngIf="showHelp" class="col-lg-12">
  <div class="row title">THE Life - John Conway</div>
  Am I the God? <br />
  Am I the Devil?<br />
  What determines the existance... Can it be explained?<br />
  Hmmm, I merely decide the rules.. I can not define the fate.

  <ul>
    <li>Any live cell with two or three live neighbours survives.</li>
    <li>Any dead cell with three live neighbours becomes a live cell.</li>
    <li>
      All other live cells die in the next generation. Similarly, all other dead
      cells stay dead.
    </li>
  </ul>
  left-click to give life to the dead(white), left-click to take life from the
  living(black)... <br /><br />

  <button mat-button class="regular-button" (click)="proceed()">PROCEED</button>
</div>

<div *ngIf="!showHelp">
  <div class="col-lg-12">
    <div class="row title">THE LIFE</div>
    <br />
    <div class="row">
      <div class="col-lg-6">
        <button mat-button class="regular-button" (click)="startGame()">
          START</button
        >&nbsp;
        <button mat-button class="regular-button" (click)="stopGame()">
          STOP</button
        >&nbsp;
        <button mat-button class="regular-button" (click)="randomGrid()">
          Randomize Grid</button
        >&nbsp;
        <button mat-button class="regular-button" (click)="resetGame()">
          Reset
        </button>
      </div>
    </div>
  </div>

  <div class="col-lg-12">
    <div class="grid-container">
      <mat-grid-list
        class="grid-list"
        *ngFor="let list of tiles"
        gutterSize="0px"
        [cols]="rows"
        rowHeight="17px"
      >
        <mat-grid-tile
          *ngFor="let tile of list"
          [colspan]="tile.cols"
          [rowspan]="tile.rows"
          [class.black]="tile.val === 1"
          class="tile"
          (click)="setGame(tile)"
        >
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>

  <div class="col-lg-12">
    Population: {{ population }}, Death: {{ death }}, Birth: {{ birth }},
    Generation: {{ generation }}<br />
    Average Population: {{ Math.floor(totalPopulation / generation) }}, Average
    Death: {{ Math.floor(death / generation) }}, Average Birth:
    {{ Math.floor(birth / generation) }}
  </div>
</div>
