:root {
  // Globle Colors
  --light-blue:  lightblue;
  --light-green: lightgreen;
  --light-pink: lightpink;
  --light-voilet: #DDBDF1;
  --gray: gray;
  --light-gray: #efefef;

  // Globle Font Family
  --default-font: 'Segoe UI', 'Frutiger', 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', 'Arial', 'sans-serif';
}
