:root {
  // Globle Colors
  --light-blue: lightblue;
  --light-green: lightgreen;
  --light-pink: lightpink;
  --light-voilet: #ddbdf1;
  --gray: gray;
  --light-gray: #efefef;
  --black: black;
  --white: white;

  // Globle Font Family
  --default-font: "Segoe UI", "Frutiger", "Frutiger Linotype", "Dejavu Sans",
    "Helvetica Neue", "Arial", "sans-serif";
}
