@import "~bootstrap/dist/css/bootstrap.min.css";
@import "./global.scss";
@import "./app.theme.scss";

* {
  font-family: var(--default-font);
}

html,
body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
}
.row {
  width: 100%;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
