@import "~@angular/material/_theming.scss";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "./global.scss";
@import "./app.theme.scss";

* {
  font-family: var(--default-font);
}

html,
body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
}
.row {
  width: 100%;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

$my-app-primary: mat-palette($mat-grey, 100);
$my-app-accent: mat-palette($mat-grey, 500);
$my-app-warn: mat-palette($mat-grey, 900);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);
