@import '../../global.scss';

.navigation-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  mat-sidenav {
    background-color: black;
  }
}

.cntnr {
  display: flex;
}

.nav-btn {
  height: 100vh;
  width: 28px;
}

.content {
  flex-grow: 1;
}
