<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="over">
    Add navigations here
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="cntnr">
      <div class="nav-btn">
        <button mat-button class="navigation-button" (click)="sidenav.toggle()">EXPLORE</button>
      </div>
      <div class="content">
        <div class="row">
          <div class="col-lg-12"><router-outlet></router-outlet></div>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
